.url_profile label {
  margin-right: 0.5em;
}

/* style "list" mode */
.url_profile.list {
  clear: left;
  height: 1.4em;
  overflow: hidden;
}

.list:hover {
  height: auto;
  background: #f5f5f5;
  border: 1px solid #999999;
}

.url_profile.list div {
  float: left;
  margin: 0em 0.5em 0em 0.5em;
  overflow: hidden;
}

.url_profile.list label {
  color: #999999;
  font-size: 0.8em;
}

.url_profile.list .title {
  font-size: 0.8em;
  width: 45%;
  margin-left: 0px;
}

.url_profile.list .date {
  width: 26%;
}

.url_profile.list .children {
  width: 12%;
}

.url_profile.list .nodes {
  width: 12%;
  margin-right: 0px;
}

.url_profile.list .links {
  clear: left;
}

.url_profile.list .addons {
  clear: left;
}

/* style "medium" mode */
.url_profile.medium .title {
}

.url_profile.medium .date {
}

.url_profile.medium .children {
}

.url_profile.medium .nodes {
}

.url_profile.medium .links {
}

.url_profile.medium .addons {
}

/* style "full" mode */
.url_profile.full .title {
}

.url_profile.full .date {
}

.url_profile.full .children {
}

.url_profile.list .nodes {
}

.url_profile.full .links {
}

.url_profile.full .addons {
}
